<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<form method="POST">
    {% csrf_token %}
        <h3>{{ client.name }}</h3>
        <p>Гражданство : {{ client.citizenship }} </p>
        <p>Дата рождения : {{ client.birth_year }} </p>
        <p>Место работы : {{ client.work_place }} </p>
        {% for account in client.accounts.all %}
            <p><label> Счет : <a href="{% url 'detail_account' account.id %}">{{ account }}</a></label></p>

    {% endfor %}

</form>

</body>
</html>